<mat-card class="flex--column card">
  <mat-card-header class="card-title">
    Zaloguj
  </mat-card-header>

  <form class="flex--column login-form">
    <mat-form-field class="flex--row email" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" 
        matInput 
        [formControl]="emailFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Ex. pat@example.com"
      >

      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Wprowadź poprawny adres email
      </mat-error>

      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email jest <strong>wymagany</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="flex--row password" appearance="fill">
      <mat-label>Hasło</mat-label>

      <input type="password"
        matInput
        [formControl]="passwordFormControl"
        [errorStateMatcher]="matcher"
        placeholder="***** ***"
      >
      
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Hasło jest <strong>wymagane</strong>
      </mat-error>
    </mat-form-field>

    <div class="flex">
      <button [disabled]="!areEmailAndPasswordValid || isLoggedIn"
        type="button"
        mat-flat-button
        color="primary"
        (click)="logIn()"
      >
        Zaloguj
      </button>

      <button class="register-button"
        type="button"
        mat-flat-button
        color="primary"
        [routerLink]="['..', 'register']"
      >
        Rejestracja
      </button>
    </div>
  </form>
</mat-card>