        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

        <!-- Delivery Column -->
        <ng-container matColumnDef="deliveryDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="deliveryDate"> Planowana data doręczenia </th>
            <td mat-cell *matCellDef="let element"> {{element.deliveryDate | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="packageStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="packageStatus"> Status przesyłki </th>
            <td mat-cell *matCellDef="let element"> {{ getPackageStatus(element.status) }} </td>
        </ng-container>


        <ng-container matColumnDef="deliveryAddress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="deliveryAddress"> Adres nadawcy </th>
            <td mat-cell *matCellDef="let element"> {{element.deliveryAddress.street}} {{element.deliveryAddress.houseAndFlatNumber}} 
                {{element.deliveryAddress.postalCode}} {{element.deliveryAddress.city}}
            </td>
        </ng-container>

        <ng-container matColumnDef="receiverAddress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="receiverAddress"> Adres odbiorcy </th>
            <td mat-cell *matCellDef="let element"> {{element.receiveAddress.street}} {{element.receiveAddress.houseAndFlatNumber}} 
                {{element.receiveAddress.postalCode}} {{element.receiveAddress.city}}
            </td>
        </ng-container>
        
        <ng-container matColumnDef="paymentAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="paymentAmount"> Wartość usługi </th>
            <td mat-cell *matCellDef="let element"> {{ element.payment.amount }} zł </td>
        </ng-container>


        <ng-container matColumnDef="paymentStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="paymentStatus"> Status płatności </th>
            <td mat-cell *matCellDef="let element"> {{ getPaymentStatus(element.payment.status) }} </td>
        </ng-container>

        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef class="details"> Szczegóły </th>   
            <td mat-cell *matCellDef="let element"> 
              <button mat-flat-button color="primary" (click)="getDetails(element)">Szczegóły</button> 
            </td>
        </ng-container>

        <ng-container matColumnDef="pay">
            <th mat-header-cell *matHeaderCellDef class="pay"> Opłać </th>   
            <td mat-cell *matCellDef="let element"> 
              <button mat-flat-button color="accent" [disabled]=!canPayForPackage(element.payment.status) (click)="payForPackage(element)">Opłać</button> 
            </td>
        </ng-container>

        <ng-container matColumnDef="changeStatus">
            <th mat-header-cell *matHeaderCellDef class="changeStatus"> Zmień status </th>   
            <td mat-cell *matCellDef="let element"> 
              <button mat-flat-button color="accent" [disabled]=!canChangeStatus(element.status) (click)="changeStatus(element)">Zmień status</button> 
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 15]"
                    showFirstLastButtons 
                    aria-label="Select page of periodic elements">
        </mat-paginator>