<mat-toolbar color="primary" class="toolbar">
  <button [ngClass]="{'visibility-hidden': !isLoggedIn}"
    (click)="drawer.toggle()" 
    mat-icon-button 
    class="menu-button"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span>
    Packages of Future
  </span>

  <pof-logged-user [ngClass]="{'visibility-hidden': !isLoggedIn}">
  </pof-logged-user>
</mat-toolbar>

<mat-drawer-container class="container max-width max-height" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over">
    <pof-menu></pof-menu>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>