
<div class="menu-container">
  <button mat-flat-button 
    color="accent" 
    class="menu-item" 
    [routerLink]="['dashboard']" 
    routerLinkActive="active"
  >
    Dashboard
  </button>
  
  <mat-divider></mat-divider>

  <button mat-flat-button 
    color="accent" 
    class="menu-item" 
    [routerLink]="['changePassword']" 
    routerLinkActive="active"
  >
    Zmień hasło
  </button>
  
  <mat-divider></mat-divider>

  <button mat-flat-button 
    color="accent" 
    class="menu-item" 
    [routerLink]="['addPackage']" 
    routerLinkActive="active"
  >
    Nadaj paczkę
  </button>
  
  <mat-divider></mat-divider>

  <button mat-flat-button 
    color="accent" 
    class="menu-item" 
    [routerLink]="['packageList']" 
    routerLinkActive="active"
  >
    Lista przesyłek
  </button>
    
  <mat-divider></mat-divider>

  <button mat-flat-button 
    color="accent" 
    class="menu-item" 
    [routerLink]="['changeUserDetails', userId]" 
    routerLinkActive="active"
  >
    Edytuj profil
  </button>
  
  <mat-divider></mat-divider>

  <button *ngIf="isAdministrator"
    mat-flat-button 
    color="accent" 
    class="menu-item" 
    [routerLink]="['manageSorting']" 
    routerLinkActive="active"
  >
    Zarządzaj sortowniami
  </button>

  <mat-divider></mat-divider>

  <button mat-flat-button 
    color="accent" 
    class="menu-item" 
    [routerLink]="['manageDrones']" 
    routerLinkActive="active"
  >
    Zarządzaj dronami
  </button>

  <mat-divider></mat-divider>

  <button *ngIf="isAdministrator"
    mat-flat-button 
    color="accent" 
    class="menu-item" 
    [routerLink]="['addUser']" 
    routerLinkActive="active"
  >
    Dodaj użytkownika
  </button>
  
  <mat-divider></mat-divider>

  <button *ngIf="isAdministrator"
    mat-flat-button 
    color="accent" 
    class="menu-item" 
    [routerLink]="['listUsers']" 
    routerLinkActive="active"
  >
    Lista użytkowników
  </button>
</div>
