<mat-card class="flex--column card">
    <mat-card-header class="card-title">
      Zmiana hasła
    </mat-card-header>
  
    <form class="flex--column login-form">
  
      <mat-form-field class="flex--row password" appearance="fill">
        <mat-label>Aktualne hasło</mat-label>
  
        <input type="password"
          matInput
          [formControl]="oldPasswordFormControl"
          [errorStateMatcher]="matcher"
          placeholder="********"
        >
        
        <mat-error *ngIf="oldPasswordFormControl.hasError('required')">
          Wprowadź <strong>hasło</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="flex--row password" appearance="fill">
        <mat-label>Nowe hasło</mat-label>
  
        <input type="password"
          matInput
          [formControl]="newPasswordFormControl"
          [errorStateMatcher]="matcher"
          placeholder="********"
        >
        
        <mat-error *ngIf="newPasswordFormControl.hasError('required')">
          Wprowadź <strong>nowe hasło</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="flex--row password" appearance="fill">
        <mat-label>Potwierdź nowe hasło</mat-label>
  
        <input type="password"
          matInput
          [formControl]="newRePasswordFormControl"
          [errorStateMatcher]="matcher"
          placeholder="********"
        >
        
        <mat-error *ngIf="newRePasswordFormControl.hasError('required')">
          Potwierdź <strong>nowe hasło</strong>
        </mat-error>
      </mat-form-field>
  
      <button [disabled]="!arePasswordsValid"
        type="button"
        mat-flat-button
        color="primary"
        (click)="changePassword()"
      >
        Zmień hasło
      </button>

    </form>
  </mat-card>