<mat-toolbar color="primary" class="toolbar">
  <button *ngIf="isLoggedIn$ | async"
    (click)="drawer.toggle()" 
    mat-icon-button 
    class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>

  <span>PackagesOfFuture</span>
</mat-toolbar>

<mat-drawer-container class="container max-width max-height" [hasBackdrop]="false">
  <mat-drawer #drawer mode="push">
    <pof-menu></pof-menu>
  </mat-drawer>

  <mat-drawer-content>
    And I am a content
  </mat-drawer-content>
</mat-drawer-container>