<mat-card class="flex--column card">
  <mat-card-header class="card-title">
    {{ formTitle }}
  </mat-card-header>

  <form [formGroup]="userDetailsFormGroup" class="flex--row user-details-form">
    <div class="flex--column">
      <mat-form-field class="flex--row" appearance="fill">
        <mat-label>Imię</mat-label>
        <input type="text" 
          matInput
          formControlName="firstName"
          placeholder="Imię"
        >
      </mat-form-field>

      <mat-form-field class="flex--row" appearance="fill">
        <mat-label>Nazwisko</mat-label>
        <input type="text" 
          matInput
          formControlName="lastName"
          placeholder="Nazwisko"
        >
      </mat-form-field>

      <mat-form-field class="flex--row" appearance="fill">
        <mat-label>Adres e-mail</mat-label>
        <input type="email" 
          matInput
          formControlName="email"
          placeholder="Np. lukasz@abc.com"
        >
      </mat-form-field>

      <mat-form-field class="flex--row" appearance="fill"
        [ngClass]="{'visibility-hidden': isChangeUserDetailsAction}"
      >
        <mat-label>Hasło</mat-label>
        <input type="password" 
          matInput
          formControlName="password"
          placeholder="********"
        >
      </mat-form-field>

      <mat-form-field class="flex--row" appearance="fill"
        [ngClass]="{'visibility-hidden': isChangeUserDetailsAction}"
      >
        <mat-label>Powtórz hasło</mat-label>
        <input type="password" 
          matInput
          formControlName="repeatPassword"
          placeholder="********"
        >
      </mat-form-field>
    </div>

    <div class="flex--column">
      <mat-form-field class="flex--row" appearance="fill">
        <mat-label>Ulica</mat-label>
        <input type="text" 
          matInput
          formControlName="street"
          placeholder="Ulica"
        >
      </mat-form-field>

      <mat-form-field class="flex--row" appearance="fill">
        <mat-label>Numer domu i mieszkania</mat-label>
        <input type="text" 
          matInput
          formControlName="houseAndFlatNumber"
          placeholder="Numer domu i mieszkania"
        >
      </mat-form-field>

      <mat-form-field class="flex--row" appearance="fill">
        <mat-label>Kod pocztowy</mat-label>
        <input type="text" 
          matInput
          formControlName="postalCode"
          placeholder="XX-XXX"
        >
      </mat-form-field>

      <mat-form-field class="flex--row" appearance="fill">
        <mat-label>Miasto</mat-label>
        <input type="text" 
          matInput
          formControlName="city"
          placeholder="user.address.city"
        >
      </mat-form-field>

      <mat-form-field class="flex--row" appearance="fill"
        [ngClass]="{'visibility-hidden': isRegisterUserAction}"
      >
        <mat-label>Typ</mat-label>
        <input type="text" 
          matInput
          placeholder="********"
        >
      </mat-form-field>
    </div>
  </form>

  <button [disabled]="!isFormValid"
    type="button"
    mat-flat-button
    color="primary"
    (click)="emitSubmittedEvent()"
  >
    {{ actionButtonName }}
  </button>
</mat-card>