:host
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-top: 16px

  .card
    width: 50%
    
    .card-title
      flex-direction: column
      justify-content: center
      align-items: center
      font-size: 24px
      margin-bottom: 12px

    .user-details-form
      align-items: center
      justify-content: space-around

    .visibility-hidden
      visibility: hidden