<mat-card class="flex--column card">
  <mat-card-header class="card-title">
    Log in
  </mat-card-header>

  <form class="flex--column login-form">
    <mat-form-field class="flex--row email" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" 
        matInput 
        [formControl]="emailFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Ex. pat@example.com"
      >

      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>

      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="flex--row password" appearance="fill">
      <mat-label>Password</mat-label>

      <input type="password"
        matInput
        [formControl]="passwordFormControl"
        [errorStateMatcher]="matcher"
        placeholder="***** ***"
      >
      
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button [disabled]="!areEmailAndPasswordValid"
      type="button"
      mat-flat-button
      color="primary"
    >
      Login
    </button>
  </form>
</mat-card>